snippet im "Import Statement"
import ${1:React} from '${2:react}'
endsnippet

snippet => "Create function" i
($1) => {
	$2
}
endsnippet

snippet div "Creates a div lol"
<div>$1</div>
endsnippet

snippet class "Creates a class"
class ${1:ClassName} extends ${2:ParentClass} {
	constructor(props) {
	}

	render() {
		return <div></div>
	}
}
endsnippet
